<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tests with POST, PUT and forms</title>
</head>

<body>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis ducimus voluptatum beatae? Ea, voluptates impedit assumenda, ratione officiis veritatis iste non accusamus quia ipsum dolorem quidem dicta distinctio adipisci molestiae.</p>
    <p>Officia officiis, consequatur impedit quia maiores nemo, molestiae tenetur suscipit omnis cupiditate error, commodi eius sit vero eveniet ratione necessitatibus veniam in veritatis placeat minus. Praesentium dignissimos culpa sint voluptate.</p>
    <p>Eligendi quisquam ex iure vitae fugiat at modi ea inventore recusandae amet consequatur velit deserunt ab incidunt minus sunt ad autem, vel enim alias. Perspiciatis sequi tenetur dolor doloremque harum.</p>
    <p>Exercitationem eligendi praesentium, voluptates facere consequuntur excepturi eaque dolore incidunt atque, autem esse natus sapiente odio nulla totam veniam voluptate obcaecati, nesciunt quia alias. Dolorum assumenda tempore vel officia eaque!</p>
    <p>Qui molestias id nobis quaerat alias laboriosam doloribus ad sapiente sint fuga, quos ea ducimus soluta blanditiis placeat quas repellendus fugit assumenda dignissimos fugiat et consequatur architecto culpa! Suscipit, et.</p>
    <p>Quis eligendi aliquam quas quos quaerat ad ullam dolores dolore voluptatem sed deserunt molestias, laborum similique sit id! Consequatur tempore ex minus molestias exercitationem quaerat sequi similique in deserunt quod?</p>
    <p>Magni, dolores cumque accusantium nesciunt, commodi error, sed maxime molestias non ipsum quam. Adipisci, voluptatem dicta sint corporis voluptate veritatis, ratione deleniti maxime nesciunt, officiis facere debitis nobis modi optio.</p>
    <p>Blanditiis aperiam dolore eligendi. Ipsam tenetur atque quam. Distinctio, officia labore praesentium doloribus assumenda molestias voluptas natus sequi autem quasi. Aliquam veniam repellendus neque deserunt perferendis eaque maiores similique. Maiores.</p>
    <p>Perferendis et sequi quis, ex nisi labore accusantium? Odio consequuntur in corrupti, sit excepturi distinctio laboriosam voluptate! Consequuntur excepturi in repellat accusantium facere culpa dolorum, libero velit, eaque, maxime assumenda.</p>
    <p>Nam eligendi doloribus blanditiis earum ad soluta quisquam cum, asperiores distinctio voluptate voluptatum eius voluptates consequatur molestiae pariatur inventore dolores mollitia quia eaque dolor reiciendis? Fuga perspiciatis consectetur incidunt magnam?</p>
    <p>Quibusdam nemo tempore nostrum perferendis quia, repudiandae, vel ea aliquid atque voluptas aut iste alias laborum. Quos optio ex rem, officiis, temporibus necessitatibus ullam, assumenda sit doloribus mollitia aspernatur laborum.</p>
    <p>Accusantium laudantium expedita fugit laboriosam quae facilis tempore est et esse obcaecati sit cupiditate sunt animi, temporibus placeat autem soluta numquam quasi. Placeat laboriosam ratione laborum saepe porro explicabo exercitationem.</p>
    <p>Repellat quasi enim odit eaque! Cumque vero porro reprehenderit provident eligendi, facere sunt perspiciatis aspernatur nemo, atque necessitatibus, veniam laudantium perferendis molestiae doloribus placeat? Voluptates nihil repellat inventore dolorum enim!</p>
    <p>Esse rerum natus, explicabo excepturi tempore, sunt molestiae laborum ab earum assumenda voluptates delectus veniam. Quo, iusto optio soluta, inventore quam dignissimos, rerum quod neque fugit molestias hic id iste.</p>
    <p>Libero quis nisi maiores rem aliquid ipsa aut in quia! Totam animi dolorum nobis nulla architecto delectus molestias perferendis quae error numquam consequuntur provident sit ut laboriosam eveniet, dicta cupiditate?</p>
    <p>Corporis alias repudiandae culpa quos officiis inventore molestiae fuga, accusantium nobis ex ipsa aperiam hic maiores. Repellendus excepturi itaque voluptatem? Suscipit dicta et voluptatem maxime iure, aliquid recusandae dolores repellendus.</p>
    <p>Voluptatem nostrum blanditiis sequi ea natus provident. Nam iure accusamus ut, dolorem tempora sunt quibusdam aliquam fugiat veritatis libero? Laborum itaque reprehenderit eaque, suscipit tempora vel asperiores fugiat at nobis!</p>
    <p>Aut quam reprehenderit et ab magni fuga consequatur repellat! Facere provident, pariatur vero commodi ipsa, facilis nisi eos sed dolorum distinctio magnam non aliquam perspiciatis incidunt dolores alias minus cum.</p>
    <p>Repellendus veniam, neque beatae temporibus id facere asperiores. Repellendus fuga voluptatibus tempora error, consequuntur impedit dolorem velit est ab perspiciatis! Aspernatur dolor cumque molestias blanditiis impedit harum, ducimus cum modi.</p>
    <p>Dolores beatae alias sapiente consectetur placeat quia tempora voluptates impedit dolore fuga aut fugiat quaerat omnis provident rem, cum, ipsam id excepturi officia doloribus expedita, optio exercitationem? Qui, porro ipsam.</p>
    <p>Esse voluptatem quidem sequi molestiae rerum quibusdam incidunt? Dolorum iste mollitia provident hic, asperiores temporibus labore aperiam ducimus autem quod fugiat in dicta repellat, suscipit recusandae, voluptate atque magni a.</p>
    <p>Ipsa asperiores exercitationem delectus voluptas odio, perspiciatis officia, laudantium nostrum consectetur consequuntur vitae? Debitis quas, dicta ipsa dolorum quia necessitatibus corrupti. Enim corporis, ipsam consequatur magnam perspiciatis assumenda iste? Dolorum!</p>
    <p>Maiores, beatae. Consectetur maiores maxime temporibus labore illum nobis facere! Nostrum saepe et expedita corporis voluptatum laborum aliquid quisquam, earum ipsam exercitationem alias cumque ipsum id velit, delectus corrupti eos.</p>
    <p>In consequatur nemo explicabo numquam blanditiis nulla facilis, facere expedita. Nam, fugit! Sequi magni debitis tempora, enim inventore neque quis, recusandae fuga alias accusamus voluptates animi sapiente dolore eveniet consequuntur.</p>
    <p>Ipsum dolore cumque officia id temporibus iusto? Cum sapiente, dolor officiis ducimus, molestias modi dicta laborum ex expedita mollitia, iusto repudiandae porro placeat. Libero recusandae quis fugit error amet a?</p>
    <p>Ipsum unde fugiat illum delectus voluptate doloremque, id ab quisquam, totam qui eos eligendi. Asperiores distinctio eum omnis quos, atque assumenda commodi facilis cumque, enim autem ducimus sint illo deserunt?</p>
    <p>Atque, facilis. Natus amet dolorum, optio aliquid iusto ullam cupiditate incidunt odio? Deserunt, accusantium ea, et sed totam repellendus reprehenderit non numquam eum dolorem illo? Nemo est atque autem quos.</p>
    <p>Facere ab expedita a consequatur non quasi doloremque facilis aut, et quae molestias vitae maiores nesciunt reiciendis qui, voluptatum cupiditate exercitationem soluta, quibusdam numquam. Vitae odio tempora error voluptates ex.</p>
    <p>Vel cum, modi possimus dolores laboriosam nam, ex libero tempore commodi, mollitia dolore eius exercitationem labore reiciendis incidunt sapiente eaque magni nihil maiores? Quis porro praesentium numquam unde iusto officia.</p>
    <p>Illum quos expedita porro voluptate a molestiae rem animi, eligendi quaerat harum aliquam tenetur rerum vitae nisi esse neque est tempora labore! Consectetur maxime nobis nihil accusantium non consequuntur qui.</p>
    <p>Est quam similique nostrum magnam laborum maxime, perspiciatis atque beatae quos necessitatibus voluptate tempore eum quibusdam voluptatum aperiam? Optio libero exercitationem quam deserunt provident odit. Quam odio a architecto ipsam.</p>
    <p>Praesentium et voluptates laboriosam quam debitis. Est tempora exercitationem qui? Adipisci mollitia dolores nobis libero deserunt cumque voluptates laudantium nam, facere quibusdam natus veritatis ducimus saepe doloremque aperiam assumenda fugit.</p>
    <p>Laborum vitae esse a ullam distinctio est repellat sequi dolore qui aliquid nulla debitis nihil consequuntur, voluptatibus quisquam provident reiciendis! Quia dolorem vel porro saepe corrupti! Nemo qui ratione quas!</p>
    <p>Eveniet adipisci voluptatibus saepe velit, sequi beatae provident labore sit? Officiis, dolores velit ratione magni, amet commodi repellendus sint cum repudiandae repellat ab iure? Voluptate labore nihil magnam quis ducimus.</p>
    <p>Veniam quidem aspernatur voluptatem repellat maxime, voluptas ab reprehenderit magnam nihil iste necessitatibus laudantium error ad numquam neque voluptates optio eum dolor. Delectus ullam suscipit corporis dicta mollitia, officia odio!</p>
    <p>Debitis eius reiciendis, eos fugiat illo deserunt officia saepe exercitationem ab enim corrupti laudantium a dolorem. Eaque sit maiores dignissimos aliquid reprehenderit adipisci illum rerum, fugiat at illo doloremque sint.</p>
    <p>Ipsa voluptas impedit, sed perferendis architecto molestias doloribus nostrum inventore blanditiis eligendi eaque mollitia delectus, earum voluptate commodi enim cupiditate odio esse ea tenetur quisquam. Maiores quia ducimus obcaecati impedit!</p>
    <p>Autem inventore ullam reiciendis sit maxime quae dolorum fuga soluta commodi, amet distinctio velit aliquam sequi quisquam eum aspernatur ad, sint nisi! Omnis odio molestiae, aut accusantium modi nulla amet!</p>
    <p>Tenetur velit ratione aspernatur? Reprehenderit vero, impedit molestiae ea velit illo inventore sint quae aliquam placeat reiciendis doloremque. Tenetur nesciunt eaque quia tempore odio totam ipsam consequuntur officiis nulla suscipit?</p>
    <p>Facilis, id totam. Velit accusamus facere eaque, a aut at temporibus tenetur aspernatur fugit fugiat sint amet maxime. Culpa expedita, officia accusantium aspernatur modi optio enim. Voluptate accusantium cum laboriosam.</p>
    <p>Eos animi ipsum nesciunt delectus corporis, veniam saepe voluptatem magnam nihil neque itaque ut provident reiciendis ipsam consectetur. Eaque dolorum nihil corrupti aspernatur. Dolorum laboriosam aliquid deleniti fugit placeat ad?</p>
    <p>Iure, cumque! Mollitia, eum dicta quia accusantium esse quaerat aliquam eos praesentium id sunt nam eaque nihil nostrum laboriosam at molestiae dolorum iste qui nesciunt voluptatem porro, tenetur fugiat modi.</p>
    <p>Aliquam ipsam cumque maxime in atque facilis, quos, quibusdam explicabo itaque nulla ad praesentium tempora officia, veniam consequuntur exercitationem ducimus ipsum adipisci repellendus enim! Mollitia, quae! Autem error modi reiciendis!</p>
    <p>Repudiandae fugit eum laboriosam cumque sint quibusdam esse ipsa rem. Nemo perspiciatis voluptates commodi eum culpa adipisci molestiae ipsum ullam facere, voluptatibus, reiciendis non, modi quidem fuga tempora beatae veritatis!</p>
    <p>Non libero magni eaque numquam aperiam accusamus, doloremque ad fugit odio voluptate vero illum accusantium perferendis ex repellat dignissimos! Temporibus fuga, porro repudiandae sint explicabo debitis quas impedit deleniti minus.</p>
    <p>Earum in corporis quasi pariatur ullam quos asperiores dolorem nobis recusandae maxime mollitia excepturi blanditiis, quia eum eaque voluptatibus voluptas. Ut sequi officiis quis eaque maxime iure amet dolorem labore.</p>
    <p>Omnis magni numquam ipsum necessitatibus, sunt provident assumenda obcaecati est dolorum rerum atque dicta sequi adipisci distinctio cumque nisi iste illo dolor commodi facere enim neque natus corporis tempora. Nemo.</p>
    <p>Cum, quisquam aut? Molestias distinctio natus aliquid neque consequuntur iure, necessitatibus officia labore esse, ea praesentium! Deserunt, repellat. Fuga, omnis obcaecati! Ea, similique vitae dolorem rerum nulla atque magnam veniam!</p>
    <p>Perferendis aspernatur facere quis quae quod dignissimos voluptatem illum dolorum ab asperiores unde deserunt odio voluptatum eius commodi quibusdam, facilis delectus dolores fuga earum ipsum aliquam id. Sequi, voluptate dignissimos?</p>
    <p>Tenetur cum ipsam numquam id nostrum natus, consectetur molestiae, totam officia perferendis nihil quia quae quis provident minus iure aliquid fuga alias! Vel voluptates beatae sit quaerat repellat eum nam?</p>
    <form action="/createRestaurant" method="POST" id="user-details">
        <fieldset>
            <label for="user-details-name">Name</label>
            <input type="text" class="name" id="user-details-name" placeholder="John" value="Anna">
            <input type="text" class="surname1" placeholder="Doe" value="lopez">
            <input type="text" class="surname2" value="martin">
            <select name="" class="gender">
                <option value="male">Male</option>
                <option value="female" selected="selected">Female</option>
                <option value="na">N/A</option>
            </select>
        </fieldset>
        <input type="button" class="submit-button" value="Send form data">
    </form>
    <script src="scripts/axios/dist/axios.js"></script>
    <script src="javascripts/PersonalDetails.js"></script>
    <script>
        function userDetailsSubmitHandler(e) {
            try {
                let name = document.querySelector("#user-details .name").value
                let surname1 = document.querySelector("#user-details .surname1").value
                let surname2 = document.querySelector("#user-details .surname2").value
                let gender = document.querySelector("#user-details .gender").value

                myPersonalDetails = new PersonalDetails(name, surname1, surname2, gender);

                let postPayload = myPersonalDetails.serialize();

                console.log(postPayload)
                
                axios.post('/createUserProfile', postPayload).then((serverPayloadResponse) => {
                    console.info(`the server has responded with`);
                    console.info(serverPayloadResponse)
                    console.info(serverPayloadResponse.data.response)
                })
            } catch (e) {
                console.log("Ha habido un error", e)
            }
        }
        document.querySelector("#user-details .submit-button").onclick = userDetailsSubmitHandler
    </script>

    
</body>

</html>