<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tests with POST, PUT and forms</title>
</head>

<body>
    <form action="/createRestaurant" method="POST" id="user-details">
        <fieldset>
            <label for="user-details-name">Name</label>
            <input type="text" class="name" id="user-details-name" placeholder="John" value="Anna">
            <input type="text" class="surname1" placeholder="Doe" value="lopez">
            <input type="text" class="surname2" value="martin">
            <select name="" class="gender">
                <option value="male">Male</option>
                <option value="female" selected="selected">Female</option>
                <option value="na">N/A</option>
            </select>
        </fieldset>
        <input type="button" class="submit-button" value="Send form data">
    </form>
    <script src="scripts/axios/dist/axios.js"></script>
    <script src="javascripts/PersonalDetails.js"></script>
    <script>
        function userDetailsSubmitHandler(e) {
            try {
                let name = document.querySelector("#user-details .name").value
                let surname1 = document.querySelector("#user-details .surname1").value
                let surname2 = document.querySelector("#user-details .surname2").value
                let gender = document.querySelector("#user-details .gender").value

                myPersonalDetails = new PersonalDetails(name, surname1, surname2, gender);

                let postPayload = myPersonalDetails.serialize();

                console.log(postPayload)
                
                axios.post('/createUserProfile', postPayload).then((serverPayloadResponse) => {
                    console.info(`the server has responded with`);
                    console.info(serverPayloadResponse)
                    console.info(serverPayloadResponse.data.response)
                })
            } catch (e) {
                console.log("Ha habido un error", e)
            }
        }
        document.querySelector("#user-details .submit-button").onclick = userDetailsSubmitHandler
    </script>

    
</body>

</html>